<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    
    
  </head>

  <body>
  
    <header class="row">
    
        <div class= "col-3">
             <div class= "circle">
                <br />
                You know
                <br />
                You love us
                <br />
                Admit it
            </div>    
        </div>
        
        <div class = "col-4 slogan">
        
            Splurting out advice on Gemini greatness since 1987 or whenever I started talking
        </div>
       
        <div class ="col-5 links">
            <%= link_to 'Your 2 Cents', '#' %>
            <%= link_to 'About Me', '#' %>
        </div>     
    </header>
    <hr />
    
    <br class ="clear"/>
    
    
    
<%= yield %>

</body>
  
</html>
